.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header__select {
  display: flex;
  gap: 1rem;
}
.btns {
  display: flex;
  gap: 1rem;
}
.btns button {
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
}
.btns button:hover {
  background: #9c36b5;
  color: #fff;
}
.signup {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #da77f2;
  color: #fff;
  transition: all 0.3s;
}
.login {
  background: transparent;
}

.menu {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
